<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="filtering-hidden-fields">
    <input type="hidden" th:name="filterFreeText"
           th:value="${filterFreeText}"/>
    <input type="hidden" th:name="filterStartDate"
           th:value="${filterStartDate}"/>
    <input type="hidden" th:name="filterEndDate"
           th:value="${filterEndDate}"/>
    <input type="hidden" th:name="filterTypeOfHelps"
           th:value="${filterTypeOfHelps}"/>
    <input type="hidden" th:name="filterHelpStatuses"
           th:value="${filterHelpStatuses}"/>
    <input type="hidden" th:name="filterLocation"
           th:value="${filterLocation}"/>
</div>
</body>
</html>