<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="navbar">

    <a class="navbar-brand" href="#"><i class="fa fa-pagelines"
                                        aria-hidden="true"></i> Helpick</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logowanie</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    Formularze zgłoszeń
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/volunteer/create}" href="#">Wolontariusza</a>
                    <a class="dropdown-item" th:href="@{/need-request/create}" href="#">Osoby potrzebującej pomocy</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDrop" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    Zgłoszenia
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/volunteer/all}" href="#">Lista Wolontariuszy</a>
                    <a class="dropdown-item" th:href="@{/need-request/all}" href="#">Lista zleceń pomocy</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDrop" role="button" data-toggle="dropdown" aria-expanded="false">
                    Edycja
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/volunteer/search-to-edit}" href="#">Danych wolontariusza</a>
                    <a class="dropdown-item" th:href="@{/need-request/edit}" href="#" >Zgłoszenia pomocy</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDrop" role="button" data-toggle="dropdown" aria-expanded="false">
                    Wyszukaj
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/volunteer/search}" href="#">Wolontariusza</a>
                    <a class="dropdown-item" th:href="@{/need-request/search}" href="#" >Zgłoszenie pomocy</a>
                </div>
            </li>
        </ul>
    </div>

</nav>
</body>
</html>