<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="filter-panel">
    <h5 class="pr-2 pl-2"><i class="fa fa-filter"></i> Filtry</h5>
    <hr>
    <div class="pr-2 pl-2">
        <form class="form-horizontal w-100" th:action="@{/need-request/filtering}" method="post"
              th:object="${filterForm}">
            <div id="free-text">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" name="filterFreeText" th:field="*{freeText}"
                           placeholder="Szukaj zgłoszeń"/>
                </div>
            </div>
            <hr>
            <div id="location">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" name="filterLocation" th:field="*{location}"
                           placeholder="Podaj miasto"/>
                </div>
            </div>
            <hr>
            <div class="mt-1"><h6 class="mb-0">Data początkowa:</h6></div>
            <div class="input-group input-group-sm">
                <input type="date" class="form-control input-sm" name="filterStartDate"
                       th:field="*{startDate}"/>
            </div>
            <div class="mt-2"><h6 class="mb-0">Data końcowa:</h6></div>
            <div class="input-group input-group-sm">
                <input type="date" class="form-control input-sm" name="filterEndDate" th:field="*{endDate}"/>
            </div>
            <hr>

            <div class="mt-1"><h6>Rodzaj pomocy:</h6></div>

                <div class="form-check" th:each="typeOfHelp: ${types}">
                    <input type="checkbox" class="form-check-input position-static"
                           th:value="${typeOfHelp}"
                           th:field="*{typeOfHelps}"
                    />
                    <label class="form-check-label" th:text="${typeOfHelp.type}">
                    </label>
                </div>

            <hr>
            <div class="mt-3"><h6>Status zgłoszenia:</h6></div>
            <div id="status-of-request" th:each="statusOfRequest: ${statusesOfHelp}">
                <div class="form-check ">
                    <input type="checkbox" class="form-check-input position-static"
                           th:value="${statusOfRequest}"
                           th:field="*{helpStatuses}"
                    />
                    <label class="form-check-label" th:text="${statusOfRequest.status}">
                    </label>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-end">
                <button class="btn btn-info btn-sm" type="submit" th:text="#{filterPanel.filter}"></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
