<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="filter-panel">
    <h5 class="pr-2 pl-2"><i class="fa fa-filter"></i><span class="ml-1" th:text="#{filterPanel.title}"/></h5>
    <hr>
    <div class="pr-2 pl-2">
        <form class="form-horizontal w-100" th:action="@{/volunteer/filtering}" method="post"
              th:object="${filterForm}">
            <div id="free-text">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" name="filterFreeText" th:field="*{freeText}"
                           th:placeholder="#{filterPanel.search}"/>
                </div>
            </div>
            <hr>
            <div id="location">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" name="filterLocation" th:field="*{location}"
                           th:placeholder="#{filterPanel.city}"/>
                </div>
            </div>
            <hr>

            <div class="mt-1"><h6 th:text="#{basicForm.typeOfHelp}"></h6></div>

            <div class="form-check" th:each="typeOfHelp: ${types}">
                <input type="checkbox" class="form-check-input position-static"
                       th:value="${typeOfHelp}"
                       th:field="*{typeOfHelps}"
                />
                <label class="form-check-label" th:text="${typeOfHelp.type}">
                </label>
            </div>

            <hr>

            <div id="status-of-request">
                <div class="form-check ">
                    <input type="checkbox" class="form-check-input position-static" th:field="*{available}"
                    />
                    <label class="form-check-label" th:text="#{filterPanel.onlyAvailable}"></label>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-end">
                <button class="btn btn-info btn-sm" type="submit" th:text="#{filterPanel.filter}"></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
