<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{basicForm.appName}"></title>
</head>
<body>
<div class="container-fluid navbarSpacing" layout:fragment="content">
<div class="d-flex justify-content-center text-center">
        <div class="mx-auto">
            <div class="main-background">
                <h1 th:text="#{index.welcomeMessage}"></h1>
            </div>
        </div>
</div>
</div>
</body>
</html>