<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title th:text="#{needRequestForm.pageTitle}"></title>
</head>
<body>
<section>
    <div class="container-fluid h-100 navbarSpacing">
        <div class="row justify-content-center mt-5 h-100">
            <div class="col fluidBox">
                <div class="card has-shadow">
                    <div class="card-header"><span class="text-light" th:text="#{needRequestForm.legend}"/></div>
                    <div class="card-body" th:insert="/fragments/edit-form-fragment.html :: edit-form">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
