<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title th:text="#{needRequestList.pageTitle}"></title>
</head>
<body>
<section>
    <div class="container-lg navbarSpacing">

        <div class="row">
            <div class="col-sm-2 bg-white border-rounded shadow leftBorder filter-panel">
                <h5 class="pr-2 pl-2"><i class="fa fa-filter"></i> Filtry</h5>
                <hr>
                <div class="pr-2 pl-2">
                    <form class="form-horizontal w-100">
                        <div id="free-text">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control"
                                       placeholder="Szukaj zgłoszeń"/>
                            </div>
                        </div>
                        <hr>
                        <div class="mt-1"><h6 class="mb-0">Data początkowa:</h6></div>
                        <div class="input-group input-group-sm">
                            <input type="date" class="form-control input-sm"/>
                        </div>
                        <div class="mt-2"><h6 class="mb-0">Data końcowa:</h6></div>
                        <div class="input-group input-group-sm">
                            <input type="date" class="form-control input-sm"/>
                        </div>
                        <hr>

                        <div class="mt-1"><h6>Rodzaj pomocy:</h6></div>
                        <div id="type-of-help-list" th:each="typeOfHelp: ${types}">
                            <div class="form-check ">
                                <input type="checkbox" class="form-check-input position-static"/>
                                <label class="form-check-label" th:text="${typeOfHelp.type}">
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="mt-3"><h6>Status zgłoszenia:</h6></div>
                        <div id="status-of-request" th:each="statusOfRequest: ${statusesOfHelp}">
                            <div class="form-check ">
                                <input type="checkbox" class="form-check-input position-static"/>
                                <label class="form-check-label" th:text="${statusOfRequest.status}">
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-info btn-sm" type="submit" th:text="#{filterPanel.filter}"></button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-sm-10 pr-0">
                <div class="need-request" th:each="needRequest: ${needRequestsList}">
                    <div class="row bg-white border-rounded shadow leftBorder">
                        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                            <div class="need-request-title d-flex align-items-center">
                                <div class="text">
                                    <a th:href="@{/need-request/view/{id}(id=${needRequest.uuid})}" class="header-link">
                                        <h3 class="h4" th:text="${needRequest.name}"></h3>
                                    </a>
                                    <small th:text="${needRequest.location}"></small>
                                </div>
                            </div>
                            <div class="need-request-date d-flex align-items-center justify-content-end">
                        <span class="hidden-sm-down pr-3" th:text="${needRequest.typeOfHelp.type}">

                        </span>
                            </div>
                        </div>
                        <div class="right-col col-lg-6 d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="time d-block">
                                    <div>
                                        <i class="fa fa-clock-o"></i>
                                        <span class="font-weight-bold"
                                              th:text="${#dates.format(needRequest.statusChange, 'dd.MM.yyyy')}"></span>
                                        <small class="ml-1"
                                               th:text="${#dates.format(needRequest.statusChange, 'HH:mm')}"></small>
                                    </div>
                                    <div class="justify-content-center d-flex text-white border-rounded"
                                         th:classappend="${needRequest.helpStatus==T(com.infoshare.domain.HelpStatuses).NEW ? 'bg-green ' : (needRequest.helpStatus==T(com.infoshare.domain.HelpStatuses).INPROGRESS ? 'bg-orange' : 'bg-blue')}">
                                        <small th:text="${needRequest.helpStatus.status}"></small>
                                    </div>
                                </div>
                                <div class=" comments">
                                    <i class="fa fa-comment-o"></i>
                                    <a th:href="@{/need-request/view/{id}#comments(id=${needRequest.uuid})}"
                                       class="table-link"
                                       data-toggle="tooltip" data-placement="top" th:title="#{tooltip.add}">20</a>
                                </div>
                            </div>
                            <div class="justify-content-end">
                                <a th:href="@{/need-request/assign/{id}(id=${needRequest.uuid})}" class="table-link"
                                   data-toggle="tooltip" data-placement="top" th:title="#{tooltip.assign}">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
									</span>
                                </a>
                                <a th:href="@{/need-request/view/{id}(id=${needRequest.uuid})}" class="table-link"
                                   data-toggle="tooltip" data-placement="top" th:title="#{tooltip.view}">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
									</span>
                                </a>
                                <span class="table-link"
                                      data-toggle="tooltip" data-placement="top" th:title="#{tooltip.edit}">
									<span class="fa-stack" data-toggle="modal" data-target="#myModal"
                                          th:attrappend="data-target=${needRequest.uuid}">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                        </span>
                                <div class="modal fade" id="myModal" role="dialog"
                                     th:attrappend="id=${needRequest.uuid}">
                                    <div class="modal-dialog">
                                        <div class="modal-content has-shadow">
                                            <div class="modal-header">
                                                <span class="text-light" th:text="#{needRequestForm.legend}"/>
                                                <a class="text-light" href="#" data-dismiss="modal">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="modal-body"
                                                 th:insert="/fragments/edit-form-fragment.html :: edit-form">
                                            </div>
                                            <script th:inline="javascript"
                                                    th:if="${hasErrors==true && needRequest.uuid==request.uuid}">
                                                jQuery(function ($) {
                                                    $(document).ready(function () {
                                                        var uuid = /*[[${request.uuid}]]*/
                                                            $("#myModal".concat(uuid)).modal("show");
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <a th:href="@{/need-request/delete/{id}(id=${needRequest.uuid})}"
                                   class="table-link danger"
                                   data-toggle="tooltip" data-placement="top" th:title="#{tooltip.delete}">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

