<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{volunteerSearchForm.pageTitle}"></title>
</head>
<body>
<section>
    <div class="container-fluid h-100 navbarSpacing" layout:fragment="content">
        <div class="row justify-content-center mt-5 h-100">
            <div class="col fluidBox">
                <div class="card has-shadow">
                    <div class="card-header"><span class="text-light" th:text="#{volunteerSearchForm.header}"></span></div>
                    <div class="card-body">
                        <form class="form-horizontal w-100" method="post" th:object="${VolunteerSearchForm}"
                              th:action="@{/volunteer/search/result}">
                            <div class="form-group row mb-sm-3">
                                <label class="col-sm-4 col-form-label" th:text="#{basicForm.location}"></label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" th:field="*{city}" class="form-control input-md"required="true"/>
                                        <small class="errorClass" th:if="${#fields.hasErrors('city')}"
                                               th:errors="*{city}"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-sm-3">
                                <label class="col-sm-5 col-form-label" th:text="#{volunteerSearchForm.typeOfHelp}"></label>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <select th:class="form-control" th:field="*{typeOfHelp}"
                                                required="true">
                                            <option th:each="typeOfHelp : ${T(com.infoshare.domain.TypeOfHelp).values()}"
                                                    th:value="${typeOfHelp}" th:text="${typeOfHelp.getType()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-success" th:text="#{basicForm.search}">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>