<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{volunteerList.title}"></title>
</head>
<body>
<section >
    <div class="container-lg navbarSpacing" layout:fragment="content">
        <div class="fixed-bottom bottom-right adder">
            <div class="float-right">
                <span class="adder-link" data-toggle="modal" data-target="#newVolunteerForm">
                    <div class="row bg-white rounded-pill border border-info shadow mb-4 mr-4">
                        <div class="col-sm-2 d-flex align-items-center m-1">
                            <i class="fa fa-plus" aria-hidden="true"></i><span class="ml-2" th:text="#{basicForm.add}"></span>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="modal fade" id="newVolunteerForm" role="dialog" th:attrappend="data-backdrop=${newHasErrors == true} ? static">
            <div class="modal-dialog">
                <div class="modal-content has-shadow">
                    <div class="modal-header">
                        <span class="text-light" th:text="#{volunteerForm.addTitle}"/>
                        <a class="text-light" href="#" data-dismiss="modal">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="modal-body"
                         th:insert="/fragments/volunteer-new-form.html :: edit-form(${newActionUrl})">
                    </div>
                    <script th:inline="javascript"
                            th:if="${newHasErrors==true}">
                        jQuery(function ($) {
                            $(document).ready(function () {

                                $("#newVolunteerForm").modal("show");
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="row bg-white border-rounded shadow leftBorder breadcrumb">
            <div class="col-sm-12 d-flex align-items-center">
                <i class="fa fa-caret-right" aria-hidden="true"></i><span class="ml-2" th:text="#{volunteerList.title}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 bg-white border-rounded shadow leftBorder filter-panel"
                 th:insert="/fragments/volunteer-filter-panel.html :: filter-panel">
            </div>
            <div class="col-sm-10 pr-0">
                <div class="need-request" th:each="volunteer: ${volunteerList}">
                    <div class="row bg-white border-rounded shadow leftBorder">
                        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                            <div class="need-request-title d-flex align-items-center">
                                <div class="text">
                                    <a th:href="@{/volunteer/view/{id}(id=${volunteer.uuid})}" class="header-link">
                                        <h3 class="h4" th:text="${volunteer.name}"></h3>
                                    </a>
                                    <small th:text="${volunteer.location}"></small>
                                </div>
                            </div>
                            <div class="need-request-date d-flex align-items-center justify-content-end">
                        <span class="hidden-sm-down pr-3" th:text="${volunteer.typeOfHelp.type}">

                        </span>
                            </div>
                        </div>
                        <div class="right-col col-lg-6 d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="time d-block">
                                    <div>
                                        <i class="fa fa-clock-o"></i>
                                        <span class="font-weight-bold"
                                              ></span>
                                        <small class="ml-1"
                                               ></small>
                                    </div>
                                    <div class="justify-content-center d-flex text-white border-rounded"
                                         >
                                        <small ></small>
                                    </div>
                                </div>
                                <div class=" comments">
                                    <i class="fa fa-comment-o"></i>
                                    <a th:href="@{/volunteer/view/{id}#comments(id=${volunteer.uuid})}"
                                       class="table-link"
                                       data-toggle="tooltip" data-placement="top" th:title="#{tooltip.add}">20</a>
                                </div>
                            </div>
                            <div class="justify-content-end">
                                <a th:href="@{/volunteer/assign/{id}(id=${volunteer.uuid})}" class="table-link"
                                   data-toggle="tooltip" data-placement="top" th:title="#{tooltip.assign}">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
									</span>
                                </a>
                                <a th:href="@{/volunteer/view/{id}(id=${volunteer.uuid})}" class="table-link"
                                   data-toggle="tooltip" data-placement="top" th:title="#{tooltip.view}">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
									</span>
                                </a>
                                <span class="table-link"
                                      data-toggle="tooltip" data-placement="top" th:title="#{tooltip.edit}">
									<span class="fa-stack" data-toggle="modal" data-target="#myModal"
                                          th:attrappend="data-target=${volunteer.uuid}">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                        </span>
                                <div class="modal fade" id="myModal" role="dialog"
                                     th:attrappend="id=${volunteer.uuid}">
                                    <div class="modal-dialog">
                                        <div class="modal-content has-shadow">
                                            <div class="modal-header">
                                                <span class="text-light" th:text="#{volunteerForm.editTitle}"/>
                                                <a class="text-light" href="#" data-dismiss="modal">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="modal-body"
                                                 th:insert="/fragments/volunteer-edit-form :: volunteer-form">
                                            </div>
                                            <script th:inline="javascript"
                                                    th:if="${hasErrors==true && volunteer.uuid==editVolunteer.uuid}">
                                                jQuery(function ($) {
                                                    $(document).ready(function () {
                                                        var uuid = /*[[${editVolunteer.uuid}]]*/
                                                            $("#myModal".concat(uuid)).modal("show");
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <a th:href="@{/volunteer/delete/{id}(id=${volunteer.uuid})}"
                                   class="table-link danger"
                                   data-toggle="tooltip" data-placement="top" th:title="#{tooltip.delete}">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

