<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{volunteerForm.addPageTitle}"></title>
</head>
<body>
<section>
    <div class="container-fluid h-100 navbarSpacing" layout:fragment="content">
        <div class="row justify-content-center mt-5 h-100">
            <div class="col fluidBox">
                <div class="card has-shadow ">
                    <div class="card-header"><span class="text-light" th:text="#{volunteerForm.addPageTitle}"/></div>
                    <div class="card-body" th:insert="/fragments/volunteer-form.html :: volunteer-form">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>